*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.center{
    margin: 0 auto;
    padding: 0 2%;
}


html{
    scroll-behavior: smooth;
}


header{
    background-color: #8f00ff;
    padding: .75rem;
    width: 100%;
    top: 0;
    box-shadow: 1px 1px 8px 1px #000;
    position: fixed;
}

nav{
    display: flex;
    justify-content: space-between;
}

.logo h1{
    color: white;
    font-size: 2rem;
    
}



.menu{
    margin-top: .5rem;
    justify-content: space-between;
    margin-right: 1rem;

    
}

.menu a{
    color: white;
    text-decoration: none;
    margin: 0 .5rem;

}

.menu a:hover{
    color:yellow;
}


section.main{
    background-color: #ccc;
    width: 100%;
    height: 300px;
}


section.main h2{
 padding: 8rem 0;
 display: flex;
 text-align: center;
 justify-content: center;
}


section#about{
    width: 100%;
    margin: 10rem 0;
}

section#about h2{
    display: flex;
    padding: 2rem 0;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
    color: #8f00ff;
    font-weight: bold;
    text-transform: uppercase;
}

section#about p{
    margin: 0 2rem;
    line-height: 2rem;
    color:#5f5f5f;
}

section#news{
    width: 100%;
    padding: 4rem 0;
}

section#news h2{
    display: flex;
    color: #8f00ff;
    text-transform: uppercase;
    padding: 2rem 0;
    text-align: center;
    justify-content: center;
}

section#news .cards{
    display: flex;
    margin: 2rem 3rem;
    margin-bottom: 100px;
}


section#news .cards .second{
    margin-top: 50px;

}

section#news .card-content h3{
    color: #8f00ff;
    text-transform: uppercase;

}

section#news .card-content p{
    margin:  0 .3rem;
    margin-right: 2rem;
    line-height: 1.5rem;
    font-size: 16px;
}

section#news  .cards .card-content .first h3 p{
   padding: 0 40px;
} 


@media screen and (max-width: 800px) {
    header{
        box-shadow: none;
        height: 80px;
    }

    .main h2{
        font-size: 24px;
    }

    section#news .cards{
        display: block;
        text-align: center;
        padding-bottom: 2rem;
    }


    nav i{
        opacity: 1;
        visibility: visible;
        cursor: pointer;
    }

    .menu a{
        display:block;
        align-items: flex-end;
        margin-left: 200px;
        opacity: 0;
        visibility: hidden;
    }

    .menu a.visible-menu{
        opacity: 1;
        visibility: visible;
    }


    section#about p{
        display:flex;
        text-align: justify;
    }


    section#news .cards p{
        margin: 0 4rem;
    }
}
